<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AIB Selenium Portfolio Test Suite" verbose="2" parallel="classes" thread-count="2">

    <listeners>
        <listener class-name="support.TestListener"/>
    </listeners>

    <test name="AIB Digital Banking Tests">
        <classes>
            <class name="tests.aib.AibHomeTest"/>
            <class name="tests.aib.MortgageTest"/>
            <class name="tests.aib.LoansTest"/>
            <class name="tests.aib.SavingsTest"/>
            <class name="tests.aib.AccessibilityTest"/>
            <class name="tests.aib.CdpFeaturesTest"/>
            <class name="tests.aib.NetworkHealthTest"/>
            <class name="tests.smoke.SmokeTest"/>
        </classes>
    </test>
</suite>
